
<ul class="nav">
    <li{% if page.active == "about" %} class="active"{% endif %}><a href="/SP-Bundle">LightSAML SP Bundle</a></li>
    <li{% if page.active == "getting-started" %} class="active"{% endif %}><a href="/SP-Bundle/Getting-started">Getting started</a></li>
    <li{% if page.active == "user-resolution" %} class="active"{% endif %}><a href="/SP-Bundle/User-resolution">User resolution</a></li>
    <li{% if page.active == "config" %} class="active"{% endif %}><a href="/SP-Bundle/Configuration">Configuration</a></li>
    <li{% if page.active == "cookbook" %} class="active"{% endif %}><a href="/SP-Bundle/Cookbook">Cookbook</a></li>
    <li{% if page.active == "username_mapper" %} class="active"{% endif %}><a href="/SP-Bundle/Username-mapper">Username mapper</a></li>
    <li{% if page.active == "attribute_mapper" %} class="active"{% endif %}><a href="/SP-Bundle/Attribute-mapper">Attribute mapper</a></li>
</ul>
