
<ul class="nav">
    <li{% if page.active == "about" %} class="active"{% endif %}><a href="/SP-Bundle">LightSAML SP Bundle</a></li>
    <li{% if page.active == "getting-started" %} class="active"{% endif %}><a href="/SP-Bundle/Getting-started">Getting started</a></li>
    <li{% if page.active == "config" %} class="active"{% endif %}><a href="/SP-Bundle/Configuration">Configuration</a></li>
    <li{% if page.active == "cookbook" %} class="active"{% endif %}><a href="/SP-Bundle/Cookbook">Cookbook</a></li>
</ul>
