
<ul class="nav">
    <li{% if page.active == "about" %} class="active"{% endif %}><a href="/LightSAML-Core">About LightSAML</a></li>
    <li{% if page.active == "installation" %} class="active"{% endif %}><a href="/LightSAML-Core/Installation">Installation</a></li>
    <li{% if page.active == "cookbook" %} class="active"{% endif %}><a href="/LightSAML-Core/Cookbook">Cookbook</a></li>
    <li{% if page.active == "components" %} class="active"{% endif %}><a href="/LightSAML-Core/Components">Core Components</a></li>
</ul>
