---
layout: default
---
<div class="post">

    <header class="post-header">
        {% include breadcrumbs.html %}

        <h1 class="post-title">
            {{ page.title }}
            {% if page.github %}
            <a href="{{ page.github }}" class="btn btn-default btn-sm pull-right"><img src="/images/blacktocat-32.png" /></a>
            {% endif %}
        </h1>

    </header>

    {% if page.aside %}
        <div class="row">
            <article class="col-md-9">
                {{ content }}
            </article>
            <aside class="col-md-3">
                {% include {{ page.aside }} %}
            </aside>
        </div>
    {% else %}
        <article>
            {{ content }}
        </article>
    {% endif %}

</div>
